DHO___turnover (3).json
{
  "name": "DHO - turnover",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=Você é um analista de RH com experiência em prever desligamentos voluntários.\n\nCom base nos dados fornecidos, analise o risco de **turnover voluntário** do colaborador e classifique como: **baixo**, **médio** ou **alto**.\n\nA resposta deve estar **formatada com clareza**, seguindo este modelo:\n\n---\n\n### 🔍 Análise de Risco de Turnover Voluntário – {{nome}}\n\n**🟢 Risco estimado: _[baixo | médio | alto]_**\n\n---\n\n### 🧾 Justificativa detalhada\n\n1. **Tempo de empresa e tempo no cargo**  \nExplique a relação entre tempo na empresa e no cargo atual com o risco de saída.\n\n2. **Salário**  \nComente se o salário está adequado ou pode estar gerando insatisfação.\n\n3. **Avaliação de desempenho e feedbacks**  \nInclua os resultados das avaliações e o tipo de feedbacks recebidos.\n\n4. **Clima organizacional**  \nInclua a nota de clima e se o colaborador participou da pesquisa. Analise impacto disso.\n\n5. **Participação em ações da empresa**  \nComente se o nível de participação indica engajamento ou distanciamento.\n\n6. **Absenteísmo**  \nExplique se o número de faltas e atrasos é preocupante.\n\n7. **Horas extras e banco de horas**  \nIndique se há sobrecarga ou comprometimento.\n\n8. **Participação em reuniões/eventos**  \nAnalise o nível de envolvimento com a equipe e a empresa.\n\n9. **Participação em bônus/PLR**  \nComente se isso pode ser um fator de retenção.\n\n10. **Histórico de desligamento da empresa**  \nRelacione o ambiente da empresa com a chance de desligamento desse colaborador.\n\n---\n\n### ✅ Conclusão\n\nFinalize com um **resumo claro**, reforçando o risco identificado e dando **uma sugestão de ação** (ex: acompanhar mais de perto, incluir em plano de desenvolvimento, etc.).\n\nA resposta deve estar estruturada e fácil de ler. Use **negrito**, **títulos**, e **parágrafos curtos**.  \nSempre entregue a saída no mesmo padrão para facilitar a leitura e uso em relatórios.\n\n---\n\nQuer que eu gere esse prompt já dentro de um `.json` pronto para importar no seu `AI Agent` no n8n?\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -60,
        -540
      ],
      "id": "b9055321-363f-48c8-bafe-e16ee79f07a9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Aggregate1').item.json.data }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        40,
        -300
      ],
      "id": "b6468f1b-68f2-4f58-9cdc-ce28f6b028a1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "fromEmail": "evilasio.f.filho@gmail.com",
        "toEmail": "evilasio.dev@gmail.com",
        "subject": "[DHO] Turnover - Teste",
        "emailFormat": "text",
        "text": "={{ $json.output }}",
        "options": {
          "appendAttribution": false,
          "ccEmail": "felipe.gomes@smartspace.us,marcio.greike@digivox.com.br,jefferson.silva@smartspace.us,naydlene.brito@smartspace.us"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        280,
        -540
      ],
      "id": "98e78e27-eab6-4eab-b001-c44eb96f571f",
      "name": "Send Email",
      "webhookId": "3f428744-9817-44a7-937d-47d257680e27",
      "credentials": {
        "smtp": {
          "id": "5uUfkLXA1kYxWVhe",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1080,
        -540
      ],
      "id": "ce55bfbe-bf6c-41a2-8f52-2a7965f4b6bc",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ZzESLnY5t910JwH4VRF_38N00t4_wdB0-EPotHW3UZU/edit?gid=1581666405#gid=1581666405",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1581666405,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZzESLnY5t910JwH4VRF_38N00t4_wdB0-EPotHW3UZU/edit#gid=1581666405"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -880,
        -540
      ],
      "id": "52b2d4d6-546a-4646-b30a-9706bae1090f",
      "name": "Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "PAqomY7ezS7eW0KK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -680,
        -540
      ],
      "id": "d697b7f7-fa16-40cf-b8ab-04ba09938f74",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        -300
      ],
      "id": "00443ce3-8831-4710-b58a-2425712c4419",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3t9EzbemEgbTM58R",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const colaboradores = $json.data;\n\nconst resultados = colaboradores.map(colaborador => {\n  const prompt = `\nVocê é um analista de RH com experiência em prever desligamentos voluntários.\n\nCom base nas informações fornecidas de um colaborador, diga se ele tem **alto**, **médio** ou **baixo risco de turnover voluntário**.\n\nConsidere fatores como tempo de empresa, salário, feedbacks, clima organizacional e histórico de avaliação de desempenho. Justifique brevemente sua resposta.\n\n### Dados do colaborador:\n- ID: ${colaborador[\"ID Colaborador\"]}\n- Idade: ${colaborador[\"Idade\"]}\n- Cargo: ${colaborador[\"Cargo\"]}\n- Departamento: ${colaborador[\"Área/Departamento\"]}\n- Tempo de empresa: ${colaborador[\"Tempo de Empresa (anos)\"]} anos\n- Tempo no cargo atual: ${colaborador[\"Tempo no Cargo Atual (anos)\"]} anos\n- Salário atual: R$ ${colaborador[\"Salário Atual\"]}\n- Avaliação de desempenho: ${colaborador[\"Avaliações de Desempenho\"]}\n- Feedbacks: ${colaborador[\"Feedbacks Quali/Quanti\"]}\n- Clima organizacional: ${colaborador[\"Resultado Pesquisa Interna\"]} (participou da pesquisa? ${colaborador[\"Participação em Pesquisas de Clima\"]})\n- Participação em ações da empresa: ${colaborador[\"Participação em Ações da Empresa\"]}\n- Absenteísmo: ${colaborador[\"Absenteísmo (dias/ano)\"]} dias/ano\n- Horas extras por mês: ${colaborador[\"Horas Extras (mês)\"]}\n- Banco de horas: ${colaborador[\"Banco de Horas\"]}\n- Participação em reuniões/eventos: ${colaborador[\"Participação em Reuniões/Eventos\"]}\n- Participação em bônus/PLR: ${colaborador[\"Participação em Bônus/PLR\"]}\n- Histórico de aumentos: ${colaborador[\"Histórico de Aumentos\"]}\n- Benefícios recebidos: ${colaborador[\"Benefícios Recebidos\"]}\n\n### Turnover histórico da empresa:\n- Motivo de desligamento (se houver): ${colaborador[\"Motivo Desligamento (se houver)\"]}\n- Tempo até pedido de demissão: ${colaborador[\"Tempo até Pedido de Demissão (anos)\"]} anos\n- Perfil de colaboradores que saíram: ${colaborador[\"Perfil de Colaboradores que Saíram\"]}\n- Frequência de desligamentos: ${colaborador[\"Frequência de Desligamentos\"]}\n\n### Sua resposta:\n`;\n\n  return {\n    json: {\n      prompt,\n      colaboradorId: colaborador[\"ID Colaborador\"]\n    }\n  };\n});\n\nreturn resultados;\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        -540
      ],
      "id": "6dc3847e-8421-4e90-8262-a591b15bfba7",
      "name": "prompt"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -240,
        -540
      ],
      "id": "112a1ba1-6f95-4ba1-9807-51e2fe1ba0df",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "prompt": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "94645df9-2629-4d4c-9a00-6bd033ba66a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3e32651c53c4f90284fa8f787a8ae933348647f3f850e837bd6e72e5fb04f70"
  },
  "id": "2ZeWQhSOTYsBkxUL",
  "tags": [
    {
      "createdAt": "2025-02-20T11:38:11.306Z",
      "updatedAt": "2025-02-20T11:38:11.306Z",
      "id": "Xj53IfBSxC6HcCPe",
      "name": "Desenvolvimento"
    }
  ]
}